# Node modules
/node_modules

# Build output
/dist
/.astro

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS files
.DS_Store

# Environment variables
.env

# Coverage and test results
/coverage
/.nyc_output

# IDEs and editors
/.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Exclude specific files
settings.json
types.d.ts

# Other
/public/uploads/*
pull.sh
