---
import Layout from '../layouts/Layout.astro';
const components = import.meta.glob('../components/*.astro');

// Convert the components into an array with the component name
const componentEntries = await Promise.all(
  Object.entries(components).map(async ([path, importer]) => {
    const { default: Component } = await importer();
    const name = path.split('/').pop().replace('.astro', '');
    console.log("Component...", Component);
    console.log("name...", name);
    return { Component, name };
  })
);
---

<Layout title="Welcome to Astro.">
	<section class="mx-auto max-w-[1600px] px-2 sm:px-6 lg:px-8">
		<div class="relative grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-5">
        {
          componentEntries.map(({ Component, name }) => (
            <div class={`component-wrapper ${name} border-2 border-white p-3 rounded-lg h-[250px]`} style="background: #1f2937">
              <Component />
            </div>
          ))
        }
		</div>
	</section>
</Layout>

